@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;600;700&display=swap');

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

h1, h2, h3, .font-brand-bold {
  @apply font-brand font-bold;
}

body {
  @apply text-brand-indigo-1 font-brand-content;
}

.prose-content h6 {
  @apply mb-2 text-black text-base font-bold;
}

.prose-content h5 {
  @apply mb-2 text-brand-indigo-2 text-xl font-bold;
}

.prose-content h4 {
  @apply mb-3 text-brand-indigo-2 text-2xl font-bold;
}

.prose-content h3 {
  @apply mb-4 text-brand-green-3 text-3xl;
}

.prose-content h2 {
  @apply mb-5 text-brand-indigo-3 text-4xl uppercase;
}

/* PROSE common */
.prose p {
  @apply mb-7;
}
.prose-sm p {
  font-size: 0.9em;
  margin-bottom: 14px;
}
.prose p strong {
  @apply text-brand-pink-3;
}
.prose blockquote {
  @apply text-brand-indigo-3;
  font-style: italic;
  padding: 20px;
  font-size: 1.2em;
  text-indent: 0;
}
.prose ul {
  list-style: disc;
  padding-left: 20px;
  display: inline-block;
  margin-bottom: 20px;
}
.prose a, .prose-sm a {
  text-decoration: underline !important;
  @apply text-brand-pink-3;
}

.text-white .prose a, .prose-sm a {
  text-decoration: underline !important;
  @apply text-white;
}

/* PROSE images */
.image-left {
  @apply float-left pr-5 py-5 w-full md:-ml-24 md:w-2/3 lg:-ml-32 lg:w-3/5 xl:-ml-36 xl:w-1/2;
}
.image-right {
  @apply float-right pl-5 py-5 w-full md:-mr-10 md:w-1/2 lg:-mr-20 lg:w-1/3;
}
.image-center {
  @apply py-5 w-full mx-auto xl:w-1/2;
}

/* PROSE header */
.prose-header p {
  margin-bottom: 14px;
  font-size: 1.1em;
}
.prose-header blockquote {
  font-style: italic;
  font-size: 1em;
  color: #282663;
}
.prose-header strong {
  @apply text-black text-xl;
}
.prose-header p strong {
  @apply text-brand-indigo-1;
}

/* PROSE dark */
.prose-dark p strong {
  @apply text-brand-indigo-4;
}
.prose-dark blockquote {
  @apply text-brand-indigo-4;
  font-style: italic;
  padding: 20px;
  font-size: 1.2em;
}


/* layout */
.with-padding-x {
  @apply px-5 sm:px-7 md:px-12 lg:px-20 2xl:px-32;
}

.bg-svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.header-menu .active {
  @apply text-brand-pink-4;
}

/* main menu transition */
.transition-opacity-90, .transition-opacity-full, .transition-opacity-none {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.transition-opacity-90 {
  opacity: 0.9;
  visibility: visible;
}
.transition-opacity-full {
  opacity: 1;
  visibility: visible;
}
.transition-opacity-none {
  opacity: 0;
  visibility: hidden;
}

.z-5000 {
  z-index: 5000;
}
.z-4500 {
  z-index: 4500;
}
.z-4000 {
  z-index: 4000;
}
.z-2000 {
  z-index: 2000;
}

.ril__inner {
  /* indigo-2 con 80% de transparencia */
  background: #4022b980; 
}

@screen lg {
  .header-menu {
    @apply bg-brand-indigo-2;
  }
  .lg-col-count-2 { column-count: 2; }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */